<!-- Banner -->
<div id="banner-wrapper">
  <div id="banner">
    <h1>Howdy. This is Share Bookmarks.</h1>
    <p>Add bookmarks. Share with friends. Follow favourite categories.</p>
  </div>
</div>


<!-- Intro -->
<div id="intro-wrapper">
  <div id="intro" class="container">
    <div class="row">
      <div class="col-md-4">
        <section>
          <div class="icon featured">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          </div>
          <h2>Create Account</h2>
          <p>Description</p>
        </section>
      </div>
      <div class="col-md-4">
        <section class="middle">
          <div class="icon featured alt center">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </div>
          <h2>Add Bookmarks</h2>
          <p>Description</p>
        </section>
      </div>
      <div class="col-md-4">
        <section>
          <div class="icon featured center">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          </div>
          <h2>Follow categories</h2>
          <p>Description</p>
        </section>
      </div>
    </div>

    <div class="row">
      <ul id="intro-actions" class="list-inline">
        <li><a href="#/register" class="btn btn-pink btn-lg btn-vlg">Create Account</a></li>
        <li>or</li>
        <li><a href="#/login" class="btn btn-dark btn-lg btn-vlg">Login</a></li>
      </ul>
    </div>
  </div>
</div>
