<!doctype html>
<html lang="en" ng-app="App">
<head>
  <meta charset="utf-8">
  <title>Share Bookmarks</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="/socket.io/socket.io.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers/controllers.js"></script>
  <script src="js/filters/filters.js"></script>
  <script src="js/services/services.js"></script>
  <script src="js/services/oplogServices.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body  ng-controller="MainAppCtrl">

  <div id="header-wrapper">
    <div id="header" class="container">
      <!-- Header -->
      <h1>Share<span class="pink">Bookmarks</span></h1>
      <!-- Nav -->
      <nav>
        <ul class="nav nav-pills">
          <li role="presentation"><a href="#/index">Home</a></li>
            <li ng-if="currentUser" role="presentation"><a href="/">My Categories</a></li>
            <li ng-if="currentUser" role="presentation"><a href="#/categories/add">Add Category</a></li>
            <li ng-if="currentUser" role="presentation"><a href="#/bookmarks/add/all">Add Bookmark</a></li>
            <li ng-if="currentUser" id="logout" role="presentation"><a href="#">Logout</a></li>
            <li ng-if="!currentUser" role="presentation"><a href="#/login">Login</a></li>
            <li ng-if="!currentUser" role="presentation"><a href="#/register">Register</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div ng-view></div>

  <!-- Footer -->
    <div id="footer-wrapper">
      <div id="footer" class="container">
        <div id="footer-body">
          <ul class="list-inline">
            <li>&copy; ShareBookmarks. All right reserved.</li>
            <li>Design: <a href="http://html5up.net" target="_blank">HTML5 UP</a></li>
          </ul>
        </div>
      </div>
    </div>

</body>
</html>
